secretKey = 
debugMode = 
allovedHosts = 
dbName = 
dbUser = 
dbPassword = 
dbHost = 
dbPort = 
adminLink = 
sessionCookieSecure = 
CSRFCookieSecure = 
secureSSLRedirect = 
secureRefererPolicy = 
secureHSTSSeconds = 
secureHSTSPreload = 
secureHSTSIncludeSubdomains = 