asgiref==3.3.1
beautifulsoup4==4.9.1
certifi==2020.12.5
chardet==4.0.0
Django==3.0.11
django-appconf==1.0.4
django-ckeditor==5.9.0
django-cleanup==5.0.0
django-imagekit==4.0.2
django-js-asset==1.2.2
idna==2.10
numpy==1.19.4
pilkit==2.0
Pillow==7.2.0
psycopg2==2.8.6
python-dateutil==2.8.1
python-dotenv==0.15.0
pytz==2020.4
six==1.15.0
soupsieve==2.0.1
sqlparse==0.4.1
urllib3==1.26.2
